# Data Cleaning 

#### 1. Import pandas library.

In [1]:
import pandas as pd
import numpy as np

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [2]:
from sqlalchemy import create_engine
import pymysql

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [ ]:

#USER = 'guest'
#PASSWORD = 'relational'
#HOST = 'relational.fit.cvut.cz'
#PORT = '3306'
#DATABASE = 'stats'

#Toma mucho tiempo
#
#db_connection_str = "mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats"
#db_connection = create_engine(db_connection_str)
#query = 'SELECT * FROM stats.posts'
#df = pd.read_sql(query, db_connection)

#### 4. Import the users table.

In [3]:
df_1 = pd.read_csv("C:\projects\\Data_tareas\\users_202007181242.csv")

df_1.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26.0,Community,2010-07-19 06:55:26.0,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36.0,Geoff Dalgas,2013-11-12 22:07:23.0,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37,NaN
2,3,101,2010-07-19 15:34:50.0,Jarrod Dixon,2014-08-08 06:42:58.0,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35,NaN
3,4,101,2010-07-19 19:03:27.0,Emmett,2014-01-02 09:31:02.0,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57.0,Shane,2014-08-13 00:23:47.0,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35,NaN

#### 5. Rename Id column to userId.

In [4]:
colnames_1 = list(df_1.columns)

colnames_1[0]= 'userId'

data_1 = np.array(df_1)

new_df_1 = pd.DataFrame(data_1,columns=colnames_1)

new_df_1.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26.0,Community,2010-07-19 06:55:26.0,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36.0,Geoff Dalgas,2013-11-12 22:07:23.0,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37,NaN
2,3,101,2010-07-19 15:34:50.0,Jarrod Dixon,2014-08-08 06:42:58.0,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35,NaN
3,4,101,2010-07-19 19:03:27.0,Emmett,2014-01-02 09:31:02.0,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57.0,Shane,2014-08-13 00:23:47.0,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35,NaN

#### 6. Import the posts table.

In [5]:
df_2 = pd.read_csv("C:\projects\\Data_tareas\\posts_202007151920.csv")

df_2.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15,2010-07-19 19:12:12.0,23,1278,<p>How should I elicit prior distributions fro...,8,2010-09-15 21:08:26.0,Eliciting priors from experts,...,5,1,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59,2010-07-19 19:12:57.0,22,8198,<p>In many different statistical methods there...,24,2012-11-12 09:21:54.0,What is normality?,...,7,1,8,88,2010-08-07 17:56:44.0,NaN,NaN,NaN,NaN,NaN
2,3,1,5,2010-07-19 19:13:28.0,54,3613,<p>What are some valuable Statistical Analysis...,18,2013-05-27 14:48:36.0,What are some valuable Statistical Analysis op...,...,19,4,36,183,2011-02-12 05:50:03.0,2010-07-19 19:13:28.0,NaN,NaN,NaN,NaN
3,4,1,135,2010-07-19 19:13:31.0,13,5224,<p>I have two groups of data. Each with a dif...,23,2010-09-08 03:00:19.0,Assessing the significance of differences in d...,...,5,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43.0,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23,2010-07-19 19:21:15.0,NaN,...,NaN,3,NaN,23,2010-07-19 19:21:15.0,2010-07-19 19:14:43.0,3,NaN,NaN,NaN

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [6]:
colnames_2 = list(df_2.columns)


colnames_2[0] = 'postId'

colnames_2[7] = 'userId'

data_2 = np.array(df_2)

new_df_2 = pd.DataFrame(data_2,columns=colnames_2)

new_df_2.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15,2010-07-19 19:12:12.0,23,1278,<p>How should I elicit prior distributions fro...,8,2010-09-15 21:08:26.0,Eliciting priors from experts,...,5,1,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59,2010-07-19 19:12:57.0,22,8198,<p>In many different statistical methods there...,24,2012-11-12 09:21:54.0,What is normality?,...,7,1,8,88,2010-08-07 17:56:44.0,NaN,NaN,NaN,NaN,NaN
2,3,1,5,2010-07-19 19:13:28.0,54,3613,<p>What are some valuable Statistical Analysis...,18,2013-05-27 14:48:36.0,What are some valuable Statistical Analysis op...,...,19,4,36,183,2011-02-12 05:50:03.0,2010-07-19 19:13:28.0,NaN,NaN,NaN,NaN
3,4,1,135,2010-07-19 19:13:31.0,13,5224,<p>I have two groups of data. Each with a dif...,23,2010-09-08 03:00:19.0,Assessing the significance of differences in d...,...,5,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43.0,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23,2010-07-19 19:21:15.0,NaN,...,NaN,3,NaN,23,2010-07-19 19:21:15.0,2010-07-19 19:14:43.0,3,NaN,NaN,NaN

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

In [7]:

# Colnames
col_1=['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']

col_2=['postId', 'Score','userId','ViewCount', 'CommentCount']

# Numpy arrays
x = np.array(new_df_1[col_1])
y = np.array(new_df_2[col_2])

# DataFrames
df_x = pd.DataFrame(x,columns=col_1)
df_y = pd.DataFrame(y,columns=col_2)

#### 9. Merge the new dataframes you have created, of users and posts. 
You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [8]:
#x.merge(y)

#df_y.merge(df_x, left_on='userId')

df_merge = pd.merge(df_x, df_y, on='userId')

#pd.merge(df_y, df_x, on='userId')

df_merge.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0

#### 10. How many missing values do you have in your merged dataframe? On which columns?

In [9]:
# df_merge.isnull().sum() total of NaN in each colunm

missing_values = df_merge.isnull().sum().sum() #amount of True

missing_values

# https://thispointer.com/python-pandas-count-number-of-nan-or-missing-values-in-dataframe-also-row-column-wise/

48396

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [11]:
#https://github.com/whiteboxml/teaching-ironhack-dataptmad-2004/blob/master/week_05/data_cleaning/data_cleaning.ipynb

df_merge.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [10]:
df_merge.dtypes

userId          object
Reputation      object
Views           object
UpVotes         object
DownVotes       object
postId          object
Score           object
ViewCount       object
CommentCount    object
dtype: object