# Data Cleaning 

#### 1. Import pandas library.

In [9]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [10]:
from sqlalchemy import create_engine
import pymysql

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [11]:

#USER = 'guest'
#PASSWORD = 'relational'
#HOST = 'relational.fit.cvut.cz'
#PORT = '3306'
#DATABASE = 'stats'

db_connection_str = "mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats"
db_connection = create_engine(db_connection_str)
query = 'SELECT * FROM posts'
df = pd.read_sql(query, con=db_connection)

#df.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15,2010-07-19 19:12:12,23,1278,<p>How should I elicit prior distributions fro...,8,2010-09-15 21:08:26,Eliciting priors from experts,...,5,1,14,NaN,NaT,NaT,NaN,NaN,NaN,NaN
1,2,1,59,2010-07-19 19:12:57,22,8198,<p>In many different statistical methods there...,24,2012-11-12 09:21:54,What is normality?,...,7,1,8,88,2010-08-07 17:56:44,NaT,NaN,NaN,NaN,NaN
2,3,1,5,2010-07-19 19:13:28,54,3613,<p>What are some valuable Statistical Analysis...,18,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19,4,36,183,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135,2010-07-19 19:13:31,13,5224,<p>I have two groups of data. Each with a dif...,23,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5,2,2,NaN,NaT,NaT,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23,2010-07-19 19:21:15,None,...,NaN,3,NaN,23,2010-07-19 19:21:15,2010-07-19 19:14:43,3,NaN,NaN,NaN

#### 4. Import the users table.

#### 5. Rename Id column to userId.

#### 6. Import the posts table.

#### 7. Rename Id column to postId and OwnerUserId to userId.

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

#### 9. Merge the new dataframes you have created, of users and posts. 
You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

#### 10. How many missing values do you have in your merged dataframe? On which columns?

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?