# Data Cleaning 

#### 1. Import pandas library.

In [1]:
import pandas as pd
import numpy as np

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [2]:
from sqlalchemy import create_engine
import pymysql

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [ ]:

#USER = 'guest'
#PASSWORD = 'relational'
#HOST = 'relational.fit.cvut.cz'
#PORT = '3306'
#DATABASE = 'stats'

#Toma mucho tiempo
#
#db_connection_str = "mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats"
#db_connection = create_engine(db_connection_str)
#query = 'SELECT * FROM stats.posts'
#df = pd.read_sql(query, db_connection)

#### 4. Import the users table.

In [3]:
df_1 = pd.read_csv("C:\projects\\Data_tareas\\users_202007181242.csv")

df_1

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26.0,Community,2010-07-19 06:55:26.0,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36.0,Geoff Dalgas,2013-11-12 22:07:23.0,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37,NaN
2,3,101,2010-07-19 15:34:50.0,Jarrod Dixon,2014-08-08 06:42:58.0,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35,NaN
3,4,101,2010-07-19 19:03:27.0,Emmett,2014-01-02 09:31:02.0,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57.0,Shane,2014-08-13 00:23:47.0,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35,NaN
5,6,457,2010-07-19 19:04:07.0,Harlan,2014-08-07 19:49:44.0,http://www.harlan.harris.name,District of Columbia,<ul>\n<li>PhD in CS/AI/Machine Learning/Cognit...,114,47,0,46050,41,NaN
6,7,429,2010-07-19 19:04:37.0,Vince,2014-09-10 21:14:12.0,http://bioinformatics.ucdavis.edu,"Davis, CA",I'm a recent graduate of UC Davis in Economics...,56,20,0,49514,28,NaN
7,8,6764,2010-07-19 19:04:52.0,csgillespie,2014-09-09 21:15:08.0,http://www.mas.ncl.ac.uk/~ncsg3/,"Newcastle, United Kingdom",<p>I'm a statistics lecturer at Newcastle Univ...,1089,604,25,70002,36,NaN
8,10,121,2010-07-19 19:05:40.0,Pierre,2014-07-28 18:15:02.0,http://plindenbaum.blogspot.com,France,Bioinformatician\\nVirology\\nGenetics\\nBiolo...,20,2,0,23234,44,NaN
9,11,136,2010-07-19 19:06:02.0,wahalulu,2014-07-23 21:28:18.0,http://www.linkedin.com/in/marckvaisman,"Washington, DC","<p>data_stuff &lt;- paste('data', c('scientist...",10,10,0,47893,40,NaN
10,12,101,2010-07-19 19:06:34.0,Jin,2014-09-09 20:26:03.0,http://www.8164.org,"Raleigh, NC",<p>I design stuff for Stack Exchange. Also a p...,10,5,0,21721,38,NaN
11,13,817,2010-07-19 19:06:49.0,Sharpie,2014-08-14 17:28:14.0,http://www.sharpsteen.net,United States,Undergraduate studying Environmental Engineeri...,178,44,1,46029,28,NaN
12,15,11,2010-07-19 19:07:32.0,hannes.koller,2010-08-24 14:23:18.0,http://soma.denkt.org,"Vienna, Austria",NaN,8,0,0,189902,35,NaN
13,16,101,2010-07-19 19:08:13.0,slashnick,2010-08-19 20:40:59.0,NaN,"London, United Kingdom",NaN,4,7,0,10996,31,NaN
14,17,345,2010-07-19 19:08:28.0,Random,2010-09-10 07:34:36.0,NaN,NaN,NaN,14,13,1,509454,NaN,NaN
15,18,128,2010-07-19 19:08:29.0,grokus,2012-08-09 15:02:00.0,http://wikipedia.org,United States,<p>Software engineer.</p>\n,8,16,0,69872,44,NaN
16,19,101,2010-07-19 19:08:45.0,Noah Snyder,2012-06-17 15:53:43.0,http://sbseminar.wordpress.com,"New York, NY",<p>I'm an assistant professor in mathematics a...,13,2,0,501919,34,NaN
17,21,101,2010-07-19 19:08:56.0,Waleed Al-Balooshi,2011-09-26 02:28:45.0,NaN,Michigan,NaN,6,0,0,40640,33,NaN
18,22,591,2010-07-19 19:09:00.0,radek,2014-09-11 15:21:01.0,NaN,"Berne, Switzerland",<p>Researcher in spatial epidemiology &amp; GI...,90,693,6,124416,NaN,NaN
19,23,308,2010-07-19 19:09:16.0,Jay Stevens,2014-08-11 19:51:32.0,http://www.centerlinescores.com,NaN,<p>I design and build Grant and Program manage...,52,34,1,21565,46,NaN
20,24,344,2010-07-19 19:09:32.0,A Lion,2011-12-06 04:21:56.0,NaN,NaN,NaN,48,36,1,85249,NaN,NaN
21,25,4968,2010-07-19 19:09:32.0,Harvey Motulsky,2014-09-13 21:51:42.0,http://www.graphpad.com,Santa Monica CA,"<p>I am the founder and CEO of <a href=""http:/...",641,328,23,504968,62,NaN
22,26,3150,2010-07-19 19:09:39.0,JMS,2014-09-13 04:03:25.0,NaN,NaN,NaN,257,138,7,134002,NaN,NaN
23,27,101,2010-07-19 19:09:41.0,balpha,2014-04-14 14:57:17.0,http://balpha.de/,"Berlin, Germany",<p>My name is Benjamin Dumke-von der Ehe. I am...,10,2,0,40051,34,NaN
24,29,2250,2010-07-19 19:09:42.0,JD Long,2014-08-11 19:14:03.0,http://cerebralmastication.com,"Chicago, IL",I'm a data guy not a programmer. But sometimes...,318,28,1,17035,42,NaN
25,30,2185,2010-07-19 19:10:15.0,gappy,2014-08-27 20:06:28.0,http://www.twitter.com/gappy3000,"New York, NY",<p>Interested primarily in econometric analysi...,312,40,3,48399,NaN,NaN
26,33,221,2010-07-19 19:11:08.0,James Roth,2014-09-08 21:15:20.0,NaN,NaN,NaN,11,2,0,137440,NaN,NaN
27,34,185,2010-07-19 19:11:11.0,Christopher D. Long,2014-09-13 00:02:35.0,http://angrystatistician.blogspot.com,"Versailles, KY",<p>Consulting analyst for the San Diego Padres...,27,23,0,509455,NaN,http://i.stack.imgur.com/km1pr.jpg
28,35,101,2010-07-19 19:11:38.0,adi92,2014-08-13 06:05:38.0,http://www.contrib.andrew.cmu.edu/~amukherj/,"Pittsburgh, PA",NaN,4,9,0,13043,26,NaN
29,36,1570,2010-07-19 19:11:52.0,Stephen Turner,2014-08-29 15:17:07.0,http://gettinggeneticsdone.blogspot.com/,"Nashville, TN",<p>I'm finishing up my Ph.D. in Human Genetics...,173,26,1,330276,31,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40295,55718,6,2014-09-13 07:12:49.0,Amena,2014-09-13 07:12:49.0,NaN,NaN,NaN,0,0,0,5024818,NaN,NaN
40296,55719,1,2014-09-13 07:19:09.0,OGUNNUSI OLUWATOBI,2014-09-13 08:03:19.0,NaN,NaN,NaN,1,0,0,5024833,NaN,NaN
40297,55720,1,2014-09-13 08:00:08.0,Rebecca,2014-09-13 08:00:08.0,NaN,NaN,NaN,0,0,0,5024897,NaN,https://www.gravatar.com/avatar/2bc72d263cc5a8...
40298,55721,101,2014-09-13 08:15:38.0,Lotte Laat,2014-09-13 08:15:38.0,NaN,"Tilburg, Netherlands","<p>I like maths, swimming, food and penguins!<...",0,1,0,1402294,23,https://www.gravatar.com/avatar/a52832f3202953...
40299,55722,1,2014-09-13 08:32:22.0,WojciechF,2014-09-13 08:32:22.0,http://about.me/wojciechfrancuzik,NaN,"<p>MD mesmerized by data science, TeX user, R ...",0,0,0,3943551,NaN,https://www.gravatar.com/avatar/285ba1e160c296...
40300,55723,1,2014-09-13 09:29:38.0,Davidson Salvia Jr.,2014-09-13 09:29:38.0,NaN,NaN,NaN,0,0,0,5025125,NaN,http://graph.facebook.com/100000041001887/pict...
40301,55724,16,2014-09-13 09:50:11.0,ouroboros,2014-09-13 10:05:17.0,NaN,NaN,<p>I'm a self-taught programmer and linux powe...,1,0,0,3620179,NaN,https://www.gravatar.com/avatar/1f8dbbc900087e...
40302,55725,1,2014-09-13 09:53:01.0,Jatin Baveja,2014-09-13 15:25:42.0,NaN,NaN,NaN,0,0,0,5025186,NaN,https://lh3.googleusercontent.com/-8iERz9S6Zr8...
40303,55726,1,2014-09-13 09:54:27.0,SuPakarn Junfang,2014-09-13 13:10:43.0,NaN,NaN,NaN,0,0,0,5025192,NaN,https://lh6.googleusercontent.com/--7hwjXqt-Zs...
40304,55727,1,2014-09-13 10:03:06.0,biggvsdiccvs,2014-09-13 10:03:06.0,NaN,NaN,NaN,0,0,0,3293263,NaN,https://www.gravatar.com/avatar/c9e31787de1366...
40305,55728,1,2014-09-13 10:48:35.0,user56299,2014-09-13 10:48:35.0,NaN,NaN,NaN,0,0,0,3808774,NaN,NaN
40306,55729,16,2014-09-13 11:04:54.0,Achim Zeileis,2014-09-13 12:15:21.0,NaN,NaN,NaN,1,0,0,5025362,NaN,NaN
40307,55730,1,2014-09-13 12:01:38.0,quants_mum,2014-09-13 12:01:38.0,NaN,NaN,NaN,0,0,0,5025477,NaN,NaN
40308,55731,1,2014-09-13 15:23:34.0,Kiran BM,2014-09-13 20:51:55.0,NaN,NaN,NaN,0,0,0,5025991,NaN,NaN
40309,55732,101,2014-09-13 15:31:37.0,Szilárd Pfeiffer,2014-09-13 15:31:37.0,http://www.pfeifferszilard.hu,Hungary,NaN,0,0,0,1447761,36,https://www.gravatar.com/avatar/70c18b82b058c1...
40310,55733,6,2014-09-13 15:51:18.0,Pax,2014-09-13 23:57:22.0,NaN,NaN,NaN,1,0,0,5026082,NaN,https://www.gravatar.com/avatar/d9b1e7660eb8ed...
40311,55734,1,2014-09-13 15:56:55.0,jalen,2014-09-13 15:56:55.0,NaN,NaN,NaN,0,0,0,5026094,NaN,NaN
40312,55735,1,2014-09-13 16:21:29.0,Mukund,2014-09-13 16:21:29.0,NaN,NaN,NaN,0,0,0,3335078,NaN,https://www.gravatar.com/avatar/072b4df5e16f4e...
40313,55736,1,2014-09-13 16:29:11.0,liszt,2014-09-13 16:29:11.0,NaN,NaN,NaN,0,0,0,510194,NaN,http://i.stack.imgur.com/AvRzI.jpg?s=128&g=1
40314,55737,1,2014-09-13 17:53:27.0,oolusola,2014-09-13 17:53:27.0,NaN,NaN,NaN,0,0,0,5026427,NaN,NaN
40315,55738,11,2014-09-13 18:06:50.0,guest,2014-09-14 01:34:01.0,NaN,NaN,NaN,0,0,0,5026468,NaN,NaN
40316,55739,1,2014-09-13 19:06:17.0,kpivert,2014-09-13 19:06:17.0,NaN,NaN,NaN,0,0,0,5026613,NaN,https://www.gravatar.com/avatar/93313f90fbaf1e...
40317,55740,1,2014-09-13 19:12:19.0,Nikkolasg,2014-09-13 19:46:29.0,NaN,NaN,<p>Be the change that you want to see in the w...,0,0,0,1239737,NaN,https://www.gravatar.com/avatar/cbae78493ed218...
40318,55741,101,2014-09-13 20:19:48.0,Jutschge,2014-09-13 20:19:48.0,NaN,Switzerland,NaN,0,1,0,3142440,NaN,https://www.gravatar.com/avatar/89f8e6f01faafa...
40319,55742,6,2014-09-13 20:36:55.0,Sayan Ghosh,2014-09-13 22:04:00.0,NaN,NaN,NaN,0,0,0,5026843,NaN,NaN
40320,55743,1,2014-09-13 21:03:50.0,AussieMeg,2014-09-13 21:18:52.0,NaN,NaN,NaN,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30.0,Mia Maria,2014-09-13 21:39:30.0,NaN,NaN,NaN,1,0,0,5026998,NaN,NaN
40322,55745,101,2014-09-13 23:45:27.0,tronbabylove,2014-09-13 23:45:27.0,NaN,United States,NaN,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41.0,GPP,2014-09-14 02:05:17.0,NaN,NaN,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44.0,Shivam Agrawal,2014-09-14 01:19:04.0,NaN,India,<p>Maths Enthusiast </p>\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 5. Rename Id column to userId.

In [4]:
colnames_1 = list(df_1.columns)

colnames_1[0]= 'userId'

data_1 = np.array(df_1)

new_df_1 = pd.DataFrame(data_1,columns=colnames_1)

new_df_1

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26.0,Community,2010-07-19 06:55:26.0,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36.0,Geoff Dalgas,2013-11-12 22:07:23.0,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37,NaN
2,3,101,2010-07-19 15:34:50.0,Jarrod Dixon,2014-08-08 06:42:58.0,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35,NaN
3,4,101,2010-07-19 19:03:27.0,Emmett,2014-01-02 09:31:02.0,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57.0,Shane,2014-08-13 00:23:47.0,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35,NaN
5,6,457,2010-07-19 19:04:07.0,Harlan,2014-08-07 19:49:44.0,http://www.harlan.harris.name,District of Columbia,<ul>\n<li>PhD in CS/AI/Machine Learning/Cognit...,114,47,0,46050,41,NaN
6,7,429,2010-07-19 19:04:37.0,Vince,2014-09-10 21:14:12.0,http://bioinformatics.ucdavis.edu,"Davis, CA",I'm a recent graduate of UC Davis in Economics...,56,20,0,49514,28,NaN
7,8,6764,2010-07-19 19:04:52.0,csgillespie,2014-09-09 21:15:08.0,http://www.mas.ncl.ac.uk/~ncsg3/,"Newcastle, United Kingdom",<p>I'm a statistics lecturer at Newcastle Univ...,1089,604,25,70002,36,NaN
8,10,121,2010-07-19 19:05:40.0,Pierre,2014-07-28 18:15:02.0,http://plindenbaum.blogspot.com,France,Bioinformatician\\nVirology\\nGenetics\\nBiolo...,20,2,0,23234,44,NaN
9,11,136,2010-07-19 19:06:02.0,wahalulu,2014-07-23 21:28:18.0,http://www.linkedin.com/in/marckvaisman,"Washington, DC","<p>data_stuff &lt;- paste('data', c('scientist...",10,10,0,47893,40,NaN
10,12,101,2010-07-19 19:06:34.0,Jin,2014-09-09 20:26:03.0,http://www.8164.org,"Raleigh, NC",<p>I design stuff for Stack Exchange. Also a p...,10,5,0,21721,38,NaN
11,13,817,2010-07-19 19:06:49.0,Sharpie,2014-08-14 17:28:14.0,http://www.sharpsteen.net,United States,Undergraduate studying Environmental Engineeri...,178,44,1,46029,28,NaN
12,15,11,2010-07-19 19:07:32.0,hannes.koller,2010-08-24 14:23:18.0,http://soma.denkt.org,"Vienna, Austria",NaN,8,0,0,189902,35,NaN
13,16,101,2010-07-19 19:08:13.0,slashnick,2010-08-19 20:40:59.0,NaN,"London, United Kingdom",NaN,4,7,0,10996,31,NaN
14,17,345,2010-07-19 19:08:28.0,Random,2010-09-10 07:34:36.0,NaN,NaN,NaN,14,13,1,509454,NaN,NaN
15,18,128,2010-07-19 19:08:29.0,grokus,2012-08-09 15:02:00.0,http://wikipedia.org,United States,<p>Software engineer.</p>\n,8,16,0,69872,44,NaN
16,19,101,2010-07-19 19:08:45.0,Noah Snyder,2012-06-17 15:53:43.0,http://sbseminar.wordpress.com,"New York, NY",<p>I'm an assistant professor in mathematics a...,13,2,0,501919,34,NaN
17,21,101,2010-07-19 19:08:56.0,Waleed Al-Balooshi,2011-09-26 02:28:45.0,NaN,Michigan,NaN,6,0,0,40640,33,NaN
18,22,591,2010-07-19 19:09:00.0,radek,2014-09-11 15:21:01.0,NaN,"Berne, Switzerland",<p>Researcher in spatial epidemiology &amp; GI...,90,693,6,124416,NaN,NaN
19,23,308,2010-07-19 19:09:16.0,Jay Stevens,2014-08-11 19:51:32.0,http://www.centerlinescores.com,NaN,<p>I design and build Grant and Program manage...,52,34,1,21565,46,NaN
20,24,344,2010-07-19 19:09:32.0,A Lion,2011-12-06 04:21:56.0,NaN,NaN,NaN,48,36,1,85249,NaN,NaN
21,25,4968,2010-07-19 19:09:32.0,Harvey Motulsky,2014-09-13 21:51:42.0,http://www.graphpad.com,Santa Monica CA,"<p>I am the founder and CEO of <a href=""http:/...",641,328,23,504968,62,NaN
22,26,3150,2010-07-19 19:09:39.0,JMS,2014-09-13 04:03:25.0,NaN,NaN,NaN,257,138,7,134002,NaN,NaN
23,27,101,2010-07-19 19:09:41.0,balpha,2014-04-14 14:57:17.0,http://balpha.de/,"Berlin, Germany",<p>My name is Benjamin Dumke-von der Ehe. I am...,10,2,0,40051,34,NaN
24,29,2250,2010-07-19 19:09:42.0,JD Long,2014-08-11 19:14:03.0,http://cerebralmastication.com,"Chicago, IL",I'm a data guy not a programmer. But sometimes...,318,28,1,17035,42,NaN
25,30,2185,2010-07-19 19:10:15.0,gappy,2014-08-27 20:06:28.0,http://www.twitter.com/gappy3000,"New York, NY",<p>Interested primarily in econometric analysi...,312,40,3,48399,NaN,NaN
26,33,221,2010-07-19 19:11:08.0,James Roth,2014-09-08 21:15:20.0,NaN,NaN,NaN,11,2,0,137440,NaN,NaN
27,34,185,2010-07-19 19:11:11.0,Christopher D. Long,2014-09-13 00:02:35.0,http://angrystatistician.blogspot.com,"Versailles, KY",<p>Consulting analyst for the San Diego Padres...,27,23,0,509455,NaN,http://i.stack.imgur.com/km1pr.jpg
28,35,101,2010-07-19 19:11:38.0,adi92,2014-08-13 06:05:38.0,http://www.contrib.andrew.cmu.edu/~amukherj/,"Pittsburgh, PA",NaN,4,9,0,13043,26,NaN
29,36,1570,2010-07-19 19:11:52.0,Stephen Turner,2014-08-29 15:17:07.0,http://gettinggeneticsdone.blogspot.com/,"Nashville, TN",<p>I'm finishing up my Ph.D. in Human Genetics...,173,26,1,330276,31,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40295,55718,6,2014-09-13 07:12:49.0,Amena,2014-09-13 07:12:49.0,NaN,NaN,NaN,0,0,0,5024818,NaN,NaN
40296,55719,1,2014-09-13 07:19:09.0,OGUNNUSI OLUWATOBI,2014-09-13 08:03:19.0,NaN,NaN,NaN,1,0,0,5024833,NaN,NaN
40297,55720,1,2014-09-13 08:00:08.0,Rebecca,2014-09-13 08:00:08.0,NaN,NaN,NaN,0,0,0,5024897,NaN,https://www.gravatar.com/avatar/2bc72d263cc5a8...
40298,55721,101,2014-09-13 08:15:38.0,Lotte Laat,2014-09-13 08:15:38.0,NaN,"Tilburg, Netherlands","<p>I like maths, swimming, food and penguins!<...",0,1,0,1402294,23,https://www.gravatar.com/avatar/a52832f3202953...
40299,55722,1,2014-09-13 08:32:22.0,WojciechF,2014-09-13 08:32:22.0,http://about.me/wojciechfrancuzik,NaN,"<p>MD mesmerized by data science, TeX user, R ...",0,0,0,3943551,NaN,https://www.gravatar.com/avatar/285ba1e160c296...
40300,55723,1,2014-09-13 09:29:38.0,Davidson Salvia Jr.,2014-09-13 09:29:38.0,NaN,NaN,NaN,0,0,0,5025125,NaN,http://graph.facebook.com/100000041001887/pict...
40301,55724,16,2014-09-13 09:50:11.0,ouroboros,2014-09-13 10:05:17.0,NaN,NaN,<p>I'm a self-taught programmer and linux powe...,1,0,0,3620179,NaN,https://www.gravatar.com/avatar/1f8dbbc900087e...
40302,55725,1,2014-09-13 09:53:01.0,Jatin Baveja,2014-09-13 15:25:42.0,NaN,NaN,NaN,0,0,0,5025186,NaN,https://lh3.googleusercontent.com/-8iERz9S6Zr8...
40303,55726,1,2014-09-13 09:54:27.0,SuPakarn Junfang,2014-09-13 13:10:43.0,NaN,NaN,NaN,0,0,0,5025192,NaN,https://lh6.googleusercontent.com/--7hwjXqt-Zs...
40304,55727,1,2014-09-13 10:03:06.0,biggvsdiccvs,2014-09-13 10:03:06.0,NaN,NaN,NaN,0,0,0,3293263,NaN,https://www.gravatar.com/avatar/c9e31787de1366...
40305,55728,1,2014-09-13 10:48:35.0,user56299,2014-09-13 10:48:35.0,NaN,NaN,NaN,0,0,0,3808774,NaN,NaN
40306,55729,16,2014-09-13 11:04:54.0,Achim Zeileis,2014-09-13 12:15:21.0,NaN,NaN,NaN,1,0,0,5025362,NaN,NaN
40307,55730,1,2014-09-13 12:01:38.0,quants_mum,2014-09-13 12:01:38.0,NaN,NaN,NaN,0,0,0,5025477,NaN,NaN
40308,55731,1,2014-09-13 15:23:34.0,Kiran BM,2014-09-13 20:51:55.0,NaN,NaN,NaN,0,0,0,5025991,NaN,NaN
40309,55732,101,2014-09-13 15:31:37.0,Szilárd Pfeiffer,2014-09-13 15:31:37.0,http://www.pfeifferszilard.hu,Hungary,NaN,0,0,0,1447761,36,https://www.gravatar.com/avatar/70c18b82b058c1...
40310,55733,6,2014-09-13 15:51:18.0,Pax,2014-09-13 23:57:22.0,NaN,NaN,NaN,1,0,0,5026082,NaN,https://www.gravatar.com/avatar/d9b1e7660eb8ed...
40311,55734,1,2014-09-13 15:56:55.0,jalen,2014-09-13 15:56:55.0,NaN,NaN,NaN,0,0,0,5026094,NaN,NaN
40312,55735,1,2014-09-13 16:21:29.0,Mukund,2014-09-13 16:21:29.0,NaN,NaN,NaN,0,0,0,3335078,NaN,https://www.gravatar.com/avatar/072b4df5e16f4e...
40313,55736,1,2014-09-13 16:29:11.0,liszt,2014-09-13 16:29:11.0,NaN,NaN,NaN,0,0,0,510194,NaN,http://i.stack.imgur.com/AvRzI.jpg?s=128&g=1
40314,55737,1,2014-09-13 17:53:27.0,oolusola,2014-09-13 17:53:27.0,NaN,NaN,NaN,0,0,0,5026427,NaN,NaN
40315,55738,11,2014-09-13 18:06:50.0,guest,2014-09-14 01:34:01.0,NaN,NaN,NaN,0,0,0,5026468,NaN,NaN
40316,55739,1,2014-09-13 19:06:17.0,kpivert,2014-09-13 19:06:17.0,NaN,NaN,NaN,0,0,0,5026613,NaN,https://www.gravatar.com/avatar/93313f90fbaf1e...
40317,55740,1,2014-09-13 19:12:19.0,Nikkolasg,2014-09-13 19:46:29.0,NaN,NaN,<p>Be the change that you want to see in the w...,0,0,0,1239737,NaN,https://www.gravatar.com/avatar/cbae78493ed218...
40318,55741,101,2014-09-13 20:19:48.0,Jutschge,2014-09-13 20:19:48.0,NaN,Switzerland,NaN,0,1,0,3142440,NaN,https://www.gravatar.com/avatar/89f8e6f01faafa...
40319,55742,6,2014-09-13 20:36:55.0,Sayan Ghosh,2014-09-13 22:04:00.0,NaN,NaN,NaN,0,0,0,5026843,NaN,NaN
40320,55743,1,2014-09-13 21:03:50.0,AussieMeg,2014-09-13 21:18:52.0,NaN,NaN,NaN,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30.0,Mia Maria,2014-09-13 21:39:30.0,NaN,NaN,NaN,1,0,0,5026998,NaN,NaN
40322,55745,101,2014-09-13 23:45:27.0,tronbabylove,2014-09-13 23:45:27.0,NaN,United States,NaN,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41.0,GPP,2014-09-14 02:05:17.0,NaN,NaN,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44.0,Shivam Agrawal,2014-09-14 01:19:04.0,NaN,India,<p>Maths Enthusiast </p>\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 6. Import the posts table.

In [5]:
df_2 = pd.read_csv("C:\projects\\Data_tareas\\posts_202007151920.csv")

df_2

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15,2010-07-19 19:12:12.0,23,1278,<p>How should I elicit prior distributions fro...,8,2010-09-15 21:08:26.0,Eliciting priors from experts,...,5,1,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59,2010-07-19 19:12:57.0,22,8198,<p>In many different statistical methods there...,24,2012-11-12 09:21:54.0,What is normality?,...,7,1,8,88,2010-08-07 17:56:44.0,NaN,NaN,NaN,NaN,NaN
2,3,1,5,2010-07-19 19:13:28.0,54,3613,<p>What are some valuable Statistical Analysis...,18,2013-05-27 14:48:36.0,What are some valuable Statistical Analysis op...,...,19,4,36,183,2011-02-12 05:50:03.0,2010-07-19 19:13:28.0,NaN,NaN,NaN,NaN
3,4,1,135,2010-07-19 19:13:31.0,13,5224,<p>I have two groups of data. Each with a dif...,23,2010-09-08 03:00:19.0,Assessing the significance of differences in d...,...,5,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43.0,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23,2010-07-19 19:21:15.0,NaN,...,NaN,3,NaN,23,2010-07-19 19:21:15.0,2010-07-19 19:14:43.0,3,NaN,NaN,NaN
5,6,1,NaN,2010-07-19 19:14:44.0,152,29229,"<p>Last year, I read a blog post from <a href=...",5,2014-05-29 03:54:31.0,The Two Cultures: statistics vs. machine learn...,...,15,5,137,22047,2013-06-07 06:38:10.0,2010-08-09 13:05:50.0,NaN,NaN,NaN,NaN
6,7,1,18,2010-07-19 19:15:59.0,76,5808,<p>I've been working on a new method for analy...,38,2013-12-28 06:53:10.0,Locating freely available data samples,...,24,3,79,253,2013-09-26 21:50:36.0,2010-07-20 20:50:48.0,NaN,NaN,NaN,NaN
7,8,1,NaN,2010-07-19 19:16:21.0,0,288,"<p>Sorry, but the emptyness was a bit overwhel...",37,2010-10-18 07:57:31.0,So how many staticians *does* it take to screw...,...,1,2,NaN,449,2010-10-18 07:57:31.0,NaN,NaN,2010-07-19 20:19:46.0,NaN,NaN
8,9,2,NaN,2010-07-19 19:16:27.0,13,NaN,"<p><a href=""http://incanter.org/"">Incanter</a>...",50,2010-07-19 19:16:27.0,NaN,...,NaN,3,NaN,NaN,NaN,2010-07-19 19:16:27.0,3,NaN,NaN,NaN
9,10,1,1887,2010-07-19 19:17:47.0,23,21925,<p>Many studies in the social sciences use Lik...,24,2012-10-23 17:33:41.0,Under what conditions should Likert scales be ...,...,4,4,12,919,2011-03-30 15:31:46.0,NaN,NaN,NaN,NaN,NaN
10,11,1,1201,2010-07-19 19:18:30.0,2,224,"<p>Is there a good, modern treatment covering ...",34,2010-08-03 21:50:09.0,Multivariate Interpolation Approaches,...,1,2,1,34,2010-07-28 07:58:52.0,NaN,NaN,NaN,NaN,NaN
11,12,2,NaN,2010-07-19 19:18:41.0,20,NaN,"<p>See my response to <a href=""http://stackove...",5,2010-07-19 19:18:41.0,NaN,...,NaN,1,NaN,NaN,NaN,2011-08-12 20:29:33.0,7,NaN,NaN,NaN
12,13,2,NaN,2010-07-19 19:18:56.0,14,NaN,<p>Machine Learning seems to have its basis in...,23,2010-07-19 19:18:56.0,NaN,...,NaN,4,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN
13,14,2,NaN,2010-07-19 19:19:03.0,5,NaN,<p>I second that Jay. Why is R valuable? Here'...,36,2010-07-19 19:19:03.0,NaN,...,NaN,1,NaN,NaN,NaN,2010-07-19 19:19:03.0,3,NaN,NaN,NaN
14,15,2,NaN,2010-07-19 19:19:46.0,13,NaN,<p>John Cook gives some interesting recommenda...,6,2010-07-19 19:19:46.0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
15,16,2,NaN,2010-07-19 19:22:31.0,16,NaN,<p>Two projects spring to mind:</p>\n\n<ol>\n<...,8,2010-07-19 20:43:02.0,NaN,...,NaN,3,NaN,8,2010-07-19 20:43:02.0,2010-07-19 19:22:31.0,3,NaN,NaN,NaN
16,17,1,29,2010-07-19 19:24:12.0,9,1261,<p>I have four competing models which I use to...,NaN,2012-01-22 23:34:51.0,How can I adapt ANOVA for binary data?,...,1,0,1,7972,2012-01-22 23:34:51.0,NaN,NaN,NaN,user28,NaN
17,18,2,NaN,2010-07-19 19:24:18.0,31,NaN,<p>Also see the UCI machine learning Data Repo...,36,2010-07-19 19:24:18.0,NaN,...,NaN,1,NaN,NaN,NaN,2011-08-12 20:31:32.0,7,NaN,NaN,NaN
18,19,2,NaN,2010-07-19 19:24:21.0,12,NaN,"<p><a href=""http://www.gapminder.org/data/"">Ga...",55,2010-07-19 19:24:21.0,NaN,...,NaN,0,NaN,NaN,NaN,2011-08-12 20:29:45.0,7,NaN,NaN,NaN
19,20,2,NaN,2010-07-19 19:24:35.0,3,NaN,<p>The assumption of normality assumes your da...,37,2010-07-19 19:24:35.0,NaN,...,NaN,2,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN
20,21,1,NaN,2010-07-19 19:24:36.0,4,184,<p>What are some of the ways to forecast demog...,59,2010-09-30 21:14:45.0,Forecasting demographic census,...,1,1,1,930,2010-09-30 21:14:45.0,NaN,NaN,NaN,NaN,NaN
21,22,1,NaN,2010-07-19 19:25:39.0,102,21916,<p>How would you describe in plain English the...,66,2014-06-05 02:06:32.0,Bayesian and frequentist reasoning in plain En...,...,15,1,67,930,2011-10-04 07:05:14.0,NaN,NaN,NaN,NaN,NaN
22,23,1,91,2010-07-19 19:26:04.0,10,7694,<p>How can I find the PDF (probability density...,69,2010-07-20 08:52:27.0,Finding the PDF given the CDF,...,2,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,2,NaN,2010-07-19 19:26:13.0,17,NaN,<p>For doing a variety of MCMC tasks in Python...,61,2010-07-19 19:26:13.0,NaN,...,NaN,0,NaN,NaN,NaN,2010-07-19 19:26:13.0,3,NaN,NaN,NaN
24,25,1,32,2010-07-19 19:27:13.0,7,2095,<p>What modern tools (Windows-based) do you su...,69,2014-08-13 20:29:48.0,Tools for modeling financial time series,...,7,4,5,69,2010-07-26 23:38:29.0,2010-07-26 23:38:29.0,NaN,NaN,NaN,NaN
25,26,1,61,2010-07-19 19:27:43.0,18,3476,"<p>What is a standard deviation, how is it cal...",75,2013-07-30 10:19:04.0,What is a standard deviation?,...,8,14,7,22047,2013-07-30 10:19:04.0,NaN,NaN,NaN,NaN,NaN
26,27,2,NaN,2010-07-19 19:28:12.0,4,NaN,"<p><a href=""http://mathforum.org/workshops/sum...",68,2010-07-19 19:28:12.0,NaN,...,NaN,0,NaN,NaN,NaN,2011-08-12 20:29:55.0,7,NaN,NaN,NaN
27,28,2,NaN,2010-07-19 19:28:12.0,6,NaN,"<p><a href=""http://www.gnu.org/software/gsl/"" ...",NaN,2010-07-19 19:28:12.0,NaN,...,NaN,0,NaN,NaN,NaN,2010-07-19 19:28:12.0,3,NaN,user28,NaN
28,29,2,NaN,2010-07-19 19:28:15.0,5,NaN,<p>Contingency table (chi-square). Also Logist...,36,2010-07-19 19:28:15.0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,17,NaN,NaN,NaN
29,30,1,55,2010-07-19 19:28:34.0,7,705,<p>Which methods are used for testing random v...,69,2011-05-12 18:38:27.0,Testing random variate generation algorithms,...,8,2,7,919,2010-08-25 14:12:54.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91946,115346,2,NaN,2014-09-13 13:15:18.0,0,NaN,"<p>First, let's try to simulate some data with...",42434,2014-09-13 13:15:18.0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,113980,NaN,NaN,NaN
91947,115348,1,NaN,2014-09-13 15:17:03.0,0,18,"<p>In the game of Bridge, 52 cards are distrub...",55564,2014-09-13 16:25:32.0,Please help me interpret this goodness of fit ...,...,1,3,NaN,55564,2014-09-13 15:41:36.0,NaN,NaN,NaN,NaN,NaN
91948,115350,1,NaN,2014-09-13 15:26:01.0,0,3,<p>How do we specify negative costs in rpart? ...,55731,2014-09-13 15:26:01.0,Specifying negative costs (benefits) in rpart'...,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91949,115351,1,NaN,2014-09-13 15:32:18.0,1,9,<p>If one is conducting a survey in which all ...,7331,2014-09-13 15:43:23.0,Sampling frame of a voluntary survey,...,0,0,NaN,7290,2014-09-13 15:43:23.0,NaN,NaN,NaN,NaN,NaN
91950,115352,1,NaN,2014-09-13 15:56:55.0,0,16,"<p>For example, I was looking at <a href=""http...",55734,2014-09-13 16:15:30.0,Is there a way to estimate the distribution fr...,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91951,115353,2,NaN,2014-09-13 16:15:30.0,0,NaN,<p>I have strong reservations about whether me...,7290,2014-09-13 16:15:30.0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,115352,NaN,NaN,NaN
91952,115354,2,NaN,2014-09-13 16:25:32.0,2,NaN,"<p>If all the null hypotheses were true, 5% of...",805,2014-09-13 16:25:32.0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,115348,NaN,NaN,NaN
91953,115355,1,NaN,2014-09-13 16:30:00.0,3,49,"<p>I have a methodological question, and there...",35413,2014-09-13 18:53:58.0,Adjust for everything you have in propensity s...,...,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91954,115356,1,NaN,2014-09-13 16:34:58.0,1,15,<p>I'm a beginner in statistics and I have to ...,55733,2014-09-13 20:45:45.0,"How to interpret glmer results (variance, corr...",...,0,0,NaN,55733,2014-09-13 20:45:45.0,NaN,NaN,NaN,NaN,NaN
91955,115357,2,NaN,2014-09-13 17:07:54.0,1,NaN,<p>I've personally been asking this question f...,44142,2014-09-13 17:07:54.0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,115355,NaN,NaN,NaN
91956,115358,1,NaN,2014-09-13 17:29:23.0,2,15,<p>Are there any formulae for the quantiles of...,1569,2014-09-14 02:54:13.0,Quantiles of a compound gamma/negative binomia...,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91957,115360,1,NaN,2014-09-13 18:06:50.0,2,40,<p>Is Student's t test a Wald test?</p>\n\n<p>...,55738,2014-09-13 18:06:50.0,Is Student's t test a Wald test?,...,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91958,115361,1,NaN,2014-09-13 18:36:36.0,0,12,"<p>Given the biometric match scores, I am requ...",55383,2014-09-13 18:36:36.0,Plotting of density estimates in matlab,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91959,115362,2,NaN,2014-09-13 18:44:31.0,2,NaN,"<p>Theoretical insight, institutional knowledg...",7071,2014-09-13 18:53:58.0,NaN,...,NaN,0,NaN,7071,2014-09-13 18:53:58.0,NaN,115355,NaN,NaN,NaN
91960,115363,2,NaN,2014-09-13 19:37:20.0,0,NaN,<p>I think I got a very simple answer.</p>\n\n...,2676,2014-09-13 19:37:20.0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,115279,NaN,NaN,NaN
91961,115364,1,NaN,2014-09-13 19:50:17.0,0,11,<p>I'm trying to find the most similar sample ...,52858,2014-09-13 21:30:41.0,In search of a proper similarity function,...,0,3,NaN,52858,2014-09-13 21:30:41.0,NaN,NaN,NaN,NaN,NaN
91962,115365,2,NaN,2014-09-13 20:13:11.0,-1,NaN,<blockquote>\n <p>Is there some approach to u...,28236,2014-09-13 20:13:11.0,NaN,...,NaN,1,NaN,NaN,NaN,NaN,108430,NaN,NaN,NaN
91963,115366,1,NaN,2014-09-13 20:36:55.0,1,17,<p>Does any standard statistical software like...,55742,2014-09-13 23:18:30.0,Missing data analysis software,...,1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91964,115367,1,NaN,2014-09-13 20:57:24.0,1,97,<p>Jon and Frank ordered 2 footlong sandwiches...,41961,2014-09-14 02:05:41.0,How to add odds? (or how I got the wrong sandw...,...,3,0,NaN,919,2014-09-13 21:11:36.0,NaN,NaN,NaN,NaN,NaN
91965,115368,2,NaN,2014-09-13 21:01:39.0,4,NaN,<p>You need to multiply the probabilities with...,24808,2014-09-13 21:01:39.0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,115367,NaN,NaN,NaN
91966,115369,2,NaN,2014-09-13 21:27:49.0,4,NaN,<p>Line up the four sandwiches in a row where ...,6633,2014-09-13 21:27:49.0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,115367,NaN,NaN,NaN
91967,115370,1,NaN,2014-09-13 21:39:30.0,1,13,<p>im analyzing an article for my studies with...,55744,2014-09-13 21:39:30.0,Poisson regression,...,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91968,115371,1,NaN,2014-09-13 21:55:39.0,0,19,<p>I am trying to estimate the school effects ...,35801,2014-09-13 23:15:00.0,Estimation of school effects using xtmixed (in...,...,1,0,NaN,35801,2014-09-13 22:51:35.0,NaN,NaN,NaN,NaN,NaN
91969,115372,2,NaN,2014-09-13 23:15:00.0,0,NaN,<p>If prior to running the xtreg command you h...,48579,2014-09-13 23:15:00.0,NaN,...,NaN,9,NaN,NaN,NaN,NaN,115371,NaN,NaN,NaN
91970,115373,2,NaN,2014-09-13 23:18:30.0,0,NaN,"<p>Yes, the <a href=""http://cran.r-project.org...",48579,2014-09-13 23:18:30.0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,115366,NaN,NaN,NaN
91971,115374,2,NaN,2014-09-13 23:45:39.0,2,NaN,"<p>This grew too long for a comment, but I thi...",805,2014-09-14 02:05:41.0,NaN,...,NaN,2,NaN,805,2014-09-14 02:05:41.0,NaN,115367,NaN,NaN,NaN
91972,115375,1,NaN,2014-09-13 23:46:05.0,0,9,<p>Assume a classification problem where there...,49365,2014-09-14 02:09:23.0,Detecting a consistent pattern in a dataset vi...,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91973,115376,1,NaN,2014-09-14 01:27:54.0,1,5,<p>My goal is to create a formula that can giv...,55746,2014-09-14 01:40:55.0,How to project video viewcount based on histor...,...,0,2,NaN,7290,2014-09-14 01:40:55.0,NaN,NaN,NaN,NaN,NaN
91974,115377,2,NaN,2014-09-14 02:03:28.0,0,NaN,<p>As a practical answer to the real questions...,805,2014-09-14 02:54:13.0,NaN,...,NaN,0,NaN,805,2014-09-14 02:54:13.0,NaN,115358,NaN,NaN,NaN
91975,115378,2,NaN,2014-09-14 02:09:23.0,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250,2014-09-14 02:09:23.0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,115375,NaN,NaN,NaN

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [6]:
colnames_2 = list(df_2.columns)


colnames_2[0] = 'postId'

colnames_2[7] = 'userId'

data_2 = np.array(df_2)

new_df_2 = pd.DataFrame(data_2,columns=colnames_2)

new_df_2

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15,2010-07-19 19:12:12.0,23,1278,<p>How should I elicit prior distributions fro...,8,2010-09-15 21:08:26.0,Eliciting priors from experts,...,5,1,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59,2010-07-19 19:12:57.0,22,8198,<p>In many different statistical methods there...,24,2012-11-12 09:21:54.0,What is normality?,...,7,1,8,88,2010-08-07 17:56:44.0,NaN,NaN,NaN,NaN,NaN
2,3,1,5,2010-07-19 19:13:28.0,54,3613,<p>What are some valuable Statistical Analysis...,18,2013-05-27 14:48:36.0,What are some valuable Statistical Analysis op...,...,19,4,36,183,2011-02-12 05:50:03.0,2010-07-19 19:13:28.0,NaN,NaN,NaN,NaN
3,4,1,135,2010-07-19 19:13:31.0,13,5224,<p>I have two groups of data. Each with a dif...,23,2010-09-08 03:00:19.0,Assessing the significance of differences in d...,...,5,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43.0,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23,2010-07-19 19:21:15.0,NaN,...,NaN,3,NaN,23,2010-07-19 19:21:15.0,2010-07-19 19:14:43.0,3,NaN,NaN,NaN
5,6,1,NaN,2010-07-19 19:14:44.0,152,29229,"<p>Last year, I read a blog post from <a href=...",5,2014-05-29 03:54:31.0,The Two Cultures: statistics vs. machine learn...,...,15,5,137,22047,2013-06-07 06:38:10.0,2010-08-09 13:05:50.0,NaN,NaN,NaN,NaN
6,7,1,18,2010-07-19 19:15:59.0,76,5808,<p>I've been working on a new method for analy...,38,2013-12-28 06:53:10.0,Locating freely available data samples,...,24,3,79,253,2013-09-26 21:50:36.0,2010-07-20 20:50:48.0,NaN,NaN,NaN,NaN
7,8,1,NaN,2010-07-19 19:16:21.0,0,288,"<p>Sorry, but the emptyness was a bit overwhel...",37,2010-10-18 07:57:31.0,So how many staticians *does* it take to screw...,...,1,2,NaN,449,2010-10-18 07:57:31.0,NaN,NaN,2010-07-19 20:19:46.0,NaN,NaN
8,9,2,NaN,2010-07-19 19:16:27.0,13,NaN,"<p><a href=""http://incanter.org/"">Incanter</a>...",50,2010-07-19 19:16:27.0,NaN,...,NaN,3,NaN,NaN,NaN,2010-07-19 19:16:27.0,3,NaN,NaN,NaN
9,10,1,1887,2010-07-19 19:17:47.0,23,21925,<p>Many studies in the social sciences use Lik...,24,2012-10-23 17:33:41.0,Under what conditions should Likert scales be ...,...,4,4,12,919,2011-03-30 15:31:46.0,NaN,NaN,NaN,NaN,NaN
10,11,1,1201,2010-07-19 19:18:30.0,2,224,"<p>Is there a good, modern treatment covering ...",34,2010-08-03 21:50:09.0,Multivariate Interpolation Approaches,...,1,2,1,34,2010-07-28 07:58:52.0,NaN,NaN,NaN,NaN,NaN
11,12,2,NaN,2010-07-19 19:18:41.0,20,NaN,"<p>See my response to <a href=""http://stackove...",5,2010-07-19 19:18:41.0,NaN,...,NaN,1,NaN,NaN,NaN,2011-08-12 20:29:33.0,7,NaN,NaN,NaN
12,13,2,NaN,2010-07-19 19:18:56.0,14,NaN,<p>Machine Learning seems to have its basis in...,23,2010-07-19 19:18:56.0,NaN,...,NaN,4,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN
13,14,2,NaN,2010-07-19 19:19:03.0,5,NaN,<p>I second that Jay. Why is R valuable? Here'...,36,2010-07-19 19:19:03.0,NaN,...,NaN,1,NaN,NaN,NaN,2010-07-19 19:19:03.0,3,NaN,NaN,NaN
14,15,2,NaN,2010-07-19 19:19:46.0,13,NaN,<p>John Cook gives some interesting recommenda...,6,2010-07-19 19:19:46.0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
15,16,2,NaN,2010-07-19 19:22:31.0,16,NaN,<p>Two projects spring to mind:</p>\n\n<ol>\n<...,8,2010-07-19 20:43:02.0,NaN,...,NaN,3,NaN,8,2010-07-19 20:43:02.0,2010-07-19 19:22:31.0,3,NaN,NaN,NaN
16,17,1,29,2010-07-19 19:24:12.0,9,1261,<p>I have four competing models which I use to...,NaN,2012-01-22 23:34:51.0,How can I adapt ANOVA for binary data?,...,1,0,1,7972,2012-01-22 23:34:51.0,NaN,NaN,NaN,user28,NaN
17,18,2,NaN,2010-07-19 19:24:18.0,31,NaN,<p>Also see the UCI machine learning Data Repo...,36,2010-07-19 19:24:18.0,NaN,...,NaN,1,NaN,NaN,NaN,2011-08-12 20:31:32.0,7,NaN,NaN,NaN
18,19,2,NaN,2010-07-19 19:24:21.0,12,NaN,"<p><a href=""http://www.gapminder.org/data/"">Ga...",55,2010-07-19 19:24:21.0,NaN,...,NaN,0,NaN,NaN,NaN,2011-08-12 20:29:45.0,7,NaN,NaN,NaN
19,20,2,NaN,2010-07-19 19:24:35.0,3,NaN,<p>The assumption of normality assumes your da...,37,2010-07-19 19:24:35.0,NaN,...,NaN,2,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN
20,21,1,NaN,2010-07-19 19:24:36.0,4,184,<p>What are some of the ways to forecast demog...,59,2010-09-30 21:14:45.0,Forecasting demographic census,...,1,1,1,930,2010-09-30 21:14:45.0,NaN,NaN,NaN,NaN,NaN
21,22,1,NaN,2010-07-19 19:25:39.0,102,21916,<p>How would you describe in plain English the...,66,2014-06-05 02:06:32.0,Bayesian and frequentist reasoning in plain En...,...,15,1,67,930,2011-10-04 07:05:14.0,NaN,NaN,NaN,NaN,NaN
22,23,1,91,2010-07-19 19:26:04.0,10,7694,<p>How can I find the PDF (probability density...,69,2010-07-20 08:52:27.0,Finding the PDF given the CDF,...,2,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,2,NaN,2010-07-19 19:26:13.0,17,NaN,<p>For doing a variety of MCMC tasks in Python...,61,2010-07-19 19:26:13.0,NaN,...,NaN,0,NaN,NaN,NaN,2010-07-19 19:26:13.0,3,NaN,NaN,NaN
24,25,1,32,2010-07-19 19:27:13.0,7,2095,<p>What modern tools (Windows-based) do you su...,69,2014-08-13 20:29:48.0,Tools for modeling financial time series,...,7,4,5,69,2010-07-26 23:38:29.0,2010-07-26 23:38:29.0,NaN,NaN,NaN,NaN
25,26,1,61,2010-07-19 19:27:43.0,18,3476,"<p>What is a standard deviation, how is it cal...",75,2013-07-30 10:19:04.0,What is a standard deviation?,...,8,14,7,22047,2013-07-30 10:19:04.0,NaN,NaN,NaN,NaN,NaN
26,27,2,NaN,2010-07-19 19:28:12.0,4,NaN,"<p><a href=""http://mathforum.org/workshops/sum...",68,2010-07-19 19:28:12.0,NaN,...,NaN,0,NaN,NaN,NaN,2011-08-12 20:29:55.0,7,NaN,NaN,NaN
27,28,2,NaN,2010-07-19 19:28:12.0,6,NaN,"<p><a href=""http://www.gnu.org/software/gsl/"" ...",NaN,2010-07-19 19:28:12.0,NaN,...,NaN,0,NaN,NaN,NaN,2010-07-19 19:28:12.0,3,NaN,user28,NaN
28,29,2,NaN,2010-07-19 19:28:15.0,5,NaN,<p>Contingency table (chi-square). Also Logist...,36,2010-07-19 19:28:15.0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,17,NaN,NaN,NaN
29,30,1,55,2010-07-19 19:28:34.0,7,705,<p>Which methods are used for testing random v...,69,2011-05-12 18:38:27.0,Testing random variate generation algorithms,...,8,2,7,919,2010-08-25 14:12:54.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91946,115346,2,NaN,2014-09-13 13:15:18.0,0,NaN,"<p>First, let's try to simulate some data with...",42434,2014-09-13 13:15:18.0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,113980,NaN,NaN,NaN
91947,115348,1,NaN,2014-09-13 15:17:03.0,0,18,"<p>In the game of Bridge, 52 cards are distrub...",55564,2014-09-13 16:25:32.0,Please help me interpret this goodness of fit ...,...,1,3,NaN,55564,2014-09-13 15:41:36.0,NaN,NaN,NaN,NaN,NaN
91948,115350,1,NaN,2014-09-13 15:26:01.0,0,3,<p>How do we specify negative costs in rpart? ...,55731,2014-09-13 15:26:01.0,Specifying negative costs (benefits) in rpart'...,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91949,115351,1,NaN,2014-09-13 15:32:18.0,1,9,<p>If one is conducting a survey in which all ...,7331,2014-09-13 15:43:23.0,Sampling frame of a voluntary survey,...,0,0,NaN,7290,2014-09-13 15:43:23.0,NaN,NaN,NaN,NaN,NaN
91950,115352,1,NaN,2014-09-13 15:56:55.0,0,16,"<p>For example, I was looking at <a href=""http...",55734,2014-09-13 16:15:30.0,Is there a way to estimate the distribution fr...,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91951,115353,2,NaN,2014-09-13 16:15:30.0,0,NaN,<p>I have strong reservations about whether me...,7290,2014-09-13 16:15:30.0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,115352,NaN,NaN,NaN
91952,115354,2,NaN,2014-09-13 16:25:32.0,2,NaN,"<p>If all the null hypotheses were true, 5% of...",805,2014-09-13 16:25:32.0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,115348,NaN,NaN,NaN
91953,115355,1,NaN,2014-09-13 16:30:00.0,3,49,"<p>I have a methodological question, and there...",35413,2014-09-13 18:53:58.0,Adjust for everything you have in propensity s...,...,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91954,115356,1,NaN,2014-09-13 16:34:58.0,1,15,<p>I'm a beginner in statistics and I have to ...,55733,2014-09-13 20:45:45.0,"How to interpret glmer results (variance, corr...",...,0,0,NaN,55733,2014-09-13 20:45:45.0,NaN,NaN,NaN,NaN,NaN
91955,115357,2,NaN,2014-09-13 17:07:54.0,1,NaN,<p>I've personally been asking this question f...,44142,2014-09-13 17:07:54.0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,115355,NaN,NaN,NaN
91956,115358,1,NaN,2014-09-13 17:29:23.0,2,15,<p>Are there any formulae for the quantiles of...,1569,2014-09-14 02:54:13.0,Quantiles of a compound gamma/negative binomia...,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91957,115360,1,NaN,2014-09-13 18:06:50.0,2,40,<p>Is Student's t test a Wald test?</p>\n\n<p>...,55738,2014-09-13 18:06:50.0,Is Student's t test a Wald test?,...,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91958,115361,1,NaN,2014-09-13 18:36:36.0,0,12,"<p>Given the biometric match scores, I am requ...",55383,2014-09-13 18:36:36.0,Plotting of density estimates in matlab,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91959,115362,2,NaN,2014-09-13 18:44:31.0,2,NaN,"<p>Theoretical insight, institutional knowledg...",7071,2014-09-13 18:53:58.0,NaN,...,NaN,0,NaN,7071,2014-09-13 18:53:58.0,NaN,115355,NaN,NaN,NaN
91960,115363,2,NaN,2014-09-13 19:37:20.0,0,NaN,<p>I think I got a very simple answer.</p>\n\n...,2676,2014-09-13 19:37:20.0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,115279,NaN,NaN,NaN
91961,115364,1,NaN,2014-09-13 19:50:17.0,0,11,<p>I'm trying to find the most similar sample ...,52858,2014-09-13 21:30:41.0,In search of a proper similarity function,...,0,3,NaN,52858,2014-09-13 21:30:41.0,NaN,NaN,NaN,NaN,NaN
91962,115365,2,NaN,2014-09-13 20:13:11.0,-1,NaN,<blockquote>\n <p>Is there some approach to u...,28236,2014-09-13 20:13:11.0,NaN,...,NaN,1,NaN,NaN,NaN,NaN,108430,NaN,NaN,NaN
91963,115366,1,NaN,2014-09-13 20:36:55.0,1,17,<p>Does any standard statistical software like...,55742,2014-09-13 23:18:30.0,Missing data analysis software,...,1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91964,115367,1,NaN,2014-09-13 20:57:24.0,1,97,<p>Jon and Frank ordered 2 footlong sandwiches...,41961,2014-09-14 02:05:41.0,How to add odds? (or how I got the wrong sandw...,...,3,0,NaN,919,2014-09-13 21:11:36.0,NaN,NaN,NaN,NaN,NaN
91965,115368,2,NaN,2014-09-13 21:01:39.0,4,NaN,<p>You need to multiply the probabilities with...,24808,2014-09-13 21:01:39.0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,115367,NaN,NaN,NaN
91966,115369,2,NaN,2014-09-13 21:27:49.0,4,NaN,<p>Line up the four sandwiches in a row where ...,6633,2014-09-13 21:27:49.0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,115367,NaN,NaN,NaN
91967,115370,1,NaN,2014-09-13 21:39:30.0,1,13,<p>im analyzing an article for my studies with...,55744,2014-09-13 21:39:30.0,Poisson regression,...,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91968,115371,1,NaN,2014-09-13 21:55:39.0,0,19,<p>I am trying to estimate the school effects ...,35801,2014-09-13 23:15:00.0,Estimation of school effects using xtmixed (in...,...,1,0,NaN,35801,2014-09-13 22:51:35.0,NaN,NaN,NaN,NaN,NaN
91969,115372,2,NaN,2014-09-13 23:15:00.0,0,NaN,<p>If prior to running the xtreg command you h...,48579,2014-09-13 23:15:00.0,NaN,...,NaN,9,NaN,NaN,NaN,NaN,115371,NaN,NaN,NaN
91970,115373,2,NaN,2014-09-13 23:18:30.0,0,NaN,"<p>Yes, the <a href=""http://cran.r-project.org...",48579,2014-09-13 23:18:30.0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,115366,NaN,NaN,NaN
91971,115374,2,NaN,2014-09-13 23:45:39.0,2,NaN,"<p>This grew too long for a comment, but I thi...",805,2014-09-14 02:05:41.0,NaN,...,NaN,2,NaN,805,2014-09-14 02:05:41.0,NaN,115367,NaN,NaN,NaN
91972,115375,1,NaN,2014-09-13 23:46:05.0,0,9,<p>Assume a classification problem where there...,49365,2014-09-14 02:09:23.0,Detecting a consistent pattern in a dataset vi...,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91973,115376,1,NaN,2014-09-14 01:27:54.0,1,5,<p>My goal is to create a formula that can giv...,55746,2014-09-14 01:40:55.0,How to project video viewcount based on histor...,...,0,2,NaN,7290,2014-09-14 01:40:55.0,NaN,NaN,NaN,NaN,NaN
91974,115377,2,NaN,2014-09-14 02:03:28.0,0,NaN,<p>As a practical answer to the real questions...,805,2014-09-14 02:54:13.0,NaN,...,NaN,0,NaN,805,2014-09-14 02:54:13.0,NaN,115358,NaN,NaN,NaN
91975,115378,2,NaN,2014-09-14 02:09:23.0,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250,2014-09-14 02:09:23.0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,115375,NaN,NaN,NaN

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

In [7]:

# Colnames
col_1=['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']

col_2=['postId', 'Score','userId','ViewCount', 'CommentCount']

# Numpy arrays
x = np.array(new_df_1[col_1])
y = np.array(new_df_2[col_2])

# DataFrames
df_x = pd.DataFrame(x,columns=col_1)
df_y = pd.DataFrame(y,columns=col_2)

#### 9. Merge the new dataframes you have created, of users and posts. 
You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [9]:
#x.merge(y)

#df_y.merge(df_x, left_on='userId')

pd.merge(df_x, df_y, on='userId')

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
5,-1,1,0,5007,1920,9857,0,NaN,0
6,-1,1,0,5007,1920,9858,0,NaN,0
7,-1,1,0,5007,1920,9860,0,NaN,0
8,-1,1,0,5007,1920,10130,0,NaN,0
9,-1,1,0,5007,1920,10131,0,NaN,0
10,-1,1,0,5007,1920,15331,0,NaN,0
11,-1,1,0,5007,1920,15332,0,NaN,0
12,-1,1,0,5007,1920,16296,0,NaN,0
13,-1,1,0,5007,1920,16366,0,NaN,0
14,-1,1,0,5007,1920,19423,0,NaN,0
15,-1,1,0,5007,1920,19848,0,NaN,0
16,-1,1,0,5007,1920,20259,0,NaN,0
17,-1,1,0,5007,1920,20261,0,NaN,0
18,-1,1,0,5007,1920,20262,0,NaN,0
19,-1,1,0,5007,1920,20263,0,NaN,0
20,-1,1,0,5007,1920,20264,0,NaN,0
21,-1,1,0,5007,1920,20485,0,NaN,0
22,-1,1,0,5007,1920,20487,0,NaN,0
23,-1,1,0,5007,1920,20489,0,NaN,0
24,-1,1,0,5007,1920,20490,0,NaN,0
25,-1,1,0,5007,1920,21497,0,NaN,0
26,-1,1,0,5007,1920,21795,0,NaN,0
27,-1,1,0,5007,1920,21856,0,NaN,0
28,-1,1,0,5007,1920,21860,0,NaN,0
29,-1,1,0,5007,1920,21861,0,NaN,0
...,...,...,...,...,...,...,...,...,...
90554,55674,1,0,0,0,115228,0,22,1
90555,55676,1,1,0,0,115231,0,25,1
90556,55677,1,1,0,0,115232,0,28,2
90557,55679,1,0,0,0,115236,0,13,0
90558,55682,13,0,0,0,115246,2,20,0
90559,55684,6,0,0,0,115253,1,31,6
90560,55687,6,0,0,0,115264,1,35,0
90561,55689,6,0,0,0,115270,1,28,7
90562,55695,1,0,0,0,115278,0,4,0
90563,55697,1,0,0,0,115285,0,22,4
90564,55699,6,0,0,0,115287,1,23,6
90565,55702,26,1,0,0,115291,5,29,1
90566,55709,1,0,0,0,115312,0,6,0
90567,55710,1,0,0,0,115313,0,18,4
90568,55713,6,0,0,0,115315,1,36,2
90569,55714,6,0,0,0,115316,1,20,3
90570,55715,6,0,0,0,115321,1,9,0
90571,55718,6,0,0,0,115327,1,25,0
90572,55719,1,1,0,0,115328,0,10,0
90573,55720,1,0,0,0,115331,0,12,1
90574,55724,16,1,0,0,115335,3,19,1
90575,55729,16,1,0,0,115338,0,NaN,0
90576,55730,1,0,0,0,115340,0,18,1
90577,55731,1,0,0,0,115350,0,3,0
90578,55733,6,1,0,0,115356,1,15,0
90579,55734,1,0,0,0,115352,0,16,0
90580,55738,11,0,0,0,115360,2,40,4
90581,55742,6,0,0,0,115366,1,17,0
90582,55744,6,1,0,0,115370,1,13,2
90583,55746,106,1,0,0,115376,1,5,2

#### 10. How many missing values do you have in your merged dataframe? On which columns?

In [11]:
pd.merge(df_y, df_x, on='userId')

,postId,Score,userId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
0,1,23,8,1278,1,6764,1089,604,25
1,16,16,8,NaN,3,6764,1089,604,25
2,36,41,8,67396,7,6764,1089,604,25
3,65,14,8,NaN,3,6764,1089,604,25
4,78,33,8,NaN,4,6764,1089,604,25
5,111,8,8,NaN,3,6764,1089,604,25
6,114,30,8,1220,1,6764,1089,604,25
7,129,4,8,NaN,0,6764,1089,604,25
8,142,5,8,NaN,0,6764,1089,604,25
9,168,17,8,1022,1,6764,1089,604,25
10,170,56,8,7733,1,6764,1089,604,25
11,254,4,8,NaN,3,6764,1089,604,25
12,262,13,8,NaN,7,6764,1089,604,25
13,271,7,8,NaN,0,6764,1089,604,25
14,301,6,8,NaN,7,6764,1089,604,25
15,352,1,8,NaN,1,6764,1089,604,25
16,356,2,8,NaN,0,6764,1089,604,25
17,397,5,8,NaN,0,6764,1089,604,25
18,412,4,8,NaN,0,6764,1089,604,25
19,432,96,8,NaN,1,6764,1089,604,25
20,845,5,8,NaN,4,6764,1089,604,25
21,851,4,8,NaN,0,6764,1089,604,25
22,855,1,8,NaN,0,6764,1089,604,25
23,895,2,8,NaN,0,6764,1089,604,25
24,975,2,8,NaN,0,6764,1089,604,25
25,978,3,8,NaN,0,6764,1089,604,25
26,981,6,8,NaN,11,6764,1089,604,25
27,1010,8,8,NaN,0,6764,1089,604,25
28,1131,4,8,NaN,0,6764,1089,604,25
29,1132,4,8,NaN,1,6764,1089,604,25
...,...,...,...,...,...,...,...,...,...
90554,115285,0,55697,22,4,1,0,0,0
90555,115287,1,55699,23,6,6,0,0,0
90556,115291,5,55702,29,1,26,1,0,0
90557,115292,2,48622,NaN,0,21,0,1,0
90558,115295,0,53248,NaN,0,101,0,0,0
90559,115298,1,54582,8,0,106,0,0,0
90560,115312,0,55709,6,0,1,0,0,0
90561,115313,0,55710,18,4,1,0,0,0
90562,115315,1,55713,36,2,6,0,0,0
90563,115316,1,55714,20,3,6,0,0,0
90564,115321,1,55715,9,0,6,0,0,0
90565,115327,1,55718,25,0,6,0,0,0
90566,115328,0,55719,10,0,1,1,0,0
90567,115331,0,55720,12,1,1,0,0,0
90568,115335,3,55724,19,1,16,1,0,0
90569,115338,0,55729,NaN,0,16,1,0,0
90570,115340,0,55730,18,1,1,0,0,0
90571,115348,0,55564,18,3,101,0,1,0
90572,115350,0,55731,3,0,1,0,0,0
90573,115351,1,7331,9,0,6,2,0,0
90574,115352,0,55734,16,0,1,0,0,0
90575,115356,1,55733,15,0,6,1,0,0
90576,115360,2,55738,40,4,11,0,0,0
90577,115361,0,55383,12,1,1,0,0,0
90578,115364,0,52858,11,3,101,2,1,0
90579,115366,1,55742,17,0,6,0,0,0
90580,115370,1,55744,13,2,6,1,0,0
90581,115371,0,35801,19,0,1,1,0,0
90582,115375,0,49365,9,0,1,0,0,0
90583,115376,1,55746,5,2,106,1,0,0

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?