## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [45]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [46]:
# Your code here

sample_list_1=random.sample(range(100), k=80)
print(sample_list_1)
print(len(sample_list_1))

[3, 87, 25, 54, 50, 83, 69, 6, 14, 96, 1, 70, 5, 53, 31, 40, 64, 28, 45, 67, 65, 59, 37, 9, 75, 95, 86, 33, 4, 46, 8, 16, 81, 48, 55, 13, 91, 11, 61, 94, 44, 36, 72, 98, 15, 57, 76, 79, 32, 93, 84, 12, 51, 99, 73, 92, 58, 60, 80, 20, 63, 10, 62, 24, 7, 39, 74, 42, 35, 88, 49, 97, 27, 68, 19, 77, 0, 66, 41, 29]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [47]:
# Your code here
set1 = set(sample_list_1)
print(set1)
print(type(set1))
print(len(set1))

{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 19, 20, 24, 25, 27, 28, 29, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 44, 45, 46, 48, 49, 50, 51, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 79, 80, 81, 83, 84, 86, 87, 88, 91, 92, 93, 94, 95, 96, 97, 98, 99}
<class 'set'>
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [48]:
# Your code here
sample_list_2=[]

for i in random.sample(range(100),80):
    if i>=40:
       sample_list_2.append(i-40)
    else:
       sample_list_2.append(i+40)
        
print(sample_list_2)

[65, 25, 48, 35, 59, 56, 58, 76, 57, 68, 50, 44, 51, 57, 66, 15, 55, 56, 53, 41, 0, 42, 70, 34, 40, 9, 26, 43, 31, 46, 71, 54, 28, 47, 14, 41, 22, 55, 2, 69, 51, 52, 72, 75, 29, 78, 47, 1, 23, 36, 42, 10, 12, 53, 6, 19, 43, 16, 74, 59, 18, 49, 63, 77, 50, 33, 5, 38, 13, 4, 60, 39, 64, 7, 49, 52, 46, 24, 3, 21]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [49]:
# Your code here

set2 = set(sample_list_2)
print(len(set2))

# Not the same as sample_list_2 because, in the set there is no repeating numbers.

66

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [50]:
# Your code here


set3=set1 - set2
print(set3)

{8, 11, 20, 27, 32, 37, 45, 61, 62, 67, 73, 79, 80, 81, 83, 84, 86, 87, 88, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [51]:
# Your code here
set4 =set2 -set1
print(set4)

{2, 34, 38, 71, 43, 78, 47, 18, 52, 21, 22, 23, 56, 26}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [52]:
# Your code here
set5=set1.intersection(set2)
print(set5)

{0, 1, 3, 4, 5, 6, 7, 9, 10, 12, 13, 14, 15, 16, 19, 24, 25, 28, 29, 31, 33, 35, 36, 39, 40, 41, 42, 44, 46, 48, 49, 50, 51, 53, 54, 55, 57, 58, 59, 60, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [53]:


#Mathematical relationship: len(set1.union(set2))=len(set2.union(set1))=len(set1.intersection(set2).union(set1-set2).union(set2-set1))
# ""   : = len(set2.intersection(set1).union(set1-set2).union(set2-set1))
print(len(set1.union(set2)))
print(len(set2.union(set1)))
print(len(set1.intersection(set2).union(set1-set2).union(set2-set1)))
print(len(set2.intersection(set1).union(set1-set2).union(set2-set1)))
# This prints are the proff.

94
94
94
94

#### Create an empty set called `set6`.

In [54]:
# Your code here
set6=set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [55]:
# Your code here

set5.update(set3)

set6.update(set5)
print(set6)
print(len(set6))

{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 19, 20, 24, 25, 27, 28, 29, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 44, 45, 46, 48, 49, 50, 51, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 79, 80, 81, 83, 84, 86, 87, 88, 91, 92, 93, 94, 95, 96, 97, 98, 99}
80

#### Check if `set1` and `set6` are equal.

In [56]:
# Your code here
print(set1)
print(len(set1))
print(set6)
print(len(set6))

{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 19, 20, 24, 25, 27, 28, 29, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 44, 45, 46, 48, 49, 50, 51, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 79, 80, 81, 83, 84, 86, 87, 88, 91, 92, 93, 94, 95, 96, 97, 98, 99}
80
{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 19, 20, 24, 25, 27, 28, 29, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 44, 45, 46, 48, 49, 50, 51, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 79, 80, 81, 83, 84, 86, 87, 88, 91, 92, 93, 94, 95, 96, 97, 98, 99}
80

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [57]:
# Your code here
z1 = set2.issubset(set1)
print("is set2 subset of ste1?:",z1)

z2 = set3.issubset(set1)
print("is set3 subset of ste1?:",z2)

is set2 subset of ste1?: False
is set3 subset of ste1?: True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [58]:
# Your code here

# set3 union set4 union set5
print(set3.union(set4).union(set5))
print(len(set3.union(set4).union(set5)))

# set1 union set2

print(set1.union(set2))
print(len(set3.union(set2)))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 86, 87, 88, 91, 92, 93, 94, 95, 96, 97, 98, 99}
94
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 86, 87, 88, 91, 92, 93, 94, 95, 96, 97, 98, 99}
94

#### Using the `pop` method, remove the first element from `set1`.

In [59]:
# Your code here
print(set1)
print(len(set1))

print(set1.pop())

print(set1)
print(len(set1))

{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 19, 20, 24, 25, 27, 28, 29, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 44, 45, 46, 48, 49, 50, 51, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 79, 80, 81, 83, 84, 86, 87, 88, 91, 92, 93, 94, 95, 96, 97, 98, 99}
80
0
{1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 19, 20, 24, 25, 27, 28, 29, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 44, 45, 46, 48, 49, 50, 51, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 79, 80, 81, 83, 84, 86, 87, 88, 91, 92, 93, 94, 95, 96, 97, 98, 99}
79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [65]:
# Your code here
print(set1)
print(len(set1))

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
lst=list(set1)
for i in list_to_remove:
    if i in lst:
       lst.remove(i)
    
print(set(lst))
print(len(set(lst)))

{1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 19, 20, 24, 25, 27, 28, 29, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 44, 45, 46, 48, 49, 50, 51, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 79, 80, 81, 83, 84, 86, 87, 88, 91, 92, 93, 94, 95, 96, 97, 98, 99}
79
{3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 20, 24, 25, 27, 28, 32, 33, 35, 36, 37, 40, 42, 44, 45, 46, 48, 50, 53, 54, 55, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 80, 83, 84, 86, 87, 88, 92, 93, 94, 95, 96, 97, 98}
62