# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
# import libraries
import pandas as pd
import numpy as np

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import data set from Ironhack's d
pokemon = pd.read_csv('C:\\projects\\Data_tareas\\datasets_121_280_Pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### Print first 10 rows of `pokemon`.

In [3]:
# your code here
pokemon.loc[0:10,'Name':'Legendary']

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
# your code here

x=np.array(pokemon[['Type 1','Type 2']])

x

array([['Grass', 'Poison'],
       ['Grass', 'Poison'],
       ['Grass', 'Poison'],
       ...,
       ['Psychic', 'Ghost'],
       ['Psychic', 'Dark'],
       ['Fire', 'Water']], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [5]:
# your code here

def clean_Mega(string):
    x=string.split("Mega")
    if len(x) == 2:
        return "Mega" + x[1]
    else:
        return string


poke_Name_flat = [j for i in np.array(pokemon[['Name']]) for j in i]

pokemon['Name']=list(map(clean_Mega, poke_Name_flat))

# test transformed data

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [6]:
# your code here

poke_Attack_flat=[j for i in np.array(pokemon[['Attack']]) for j in i]

poke_Defense_flat=[j for i in np.array(pokemon[['Defense']]) for j in i]

poke_Ratio_flat =[poke_Attack_flat[i]/poke_Defense_flat[i] for i in range(len(poke_Attack_flat))] 

pokemon['A/D Ratio'] = poke_Ratio_flat

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462

#### Identify the pokemon with the highest `A/D Ratio`.

In [7]:
# your code here

Maximun_ratio = np.array(pokemon[['A/D Ratio']].max())



Maximun_ratio_name=[]

for i in range(len(pokemon['A/D Ratio'])):
    if np.array(pokemon.loc[i,'A/D Ratio']) == Maximun_ratio :
        Maximun_ratio_name.append(pokemon.loc[i,'Name'])
        
print(Maximun_ratio_name)

['DeoxysAttack Forme']

#### Identify the pokemon with the lowest A/D Ratio.

In [8]:
# your code here
Minimun_ratio = np.array(pokemon[['A/D Ratio']].min())



Minimun_ratio_name=[]

for i in range(len(pokemon['A/D Ratio'])):
    if np.array(pokemon.loc[i,'A/D Ratio']) == Minimun_ratio :
        Minimun_ratio_name.append(pokemon.loc[i,'Name'])
        
print(Minimun_ratio_name)

['Shuckle']

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [9]:
# your code here

Type_lst=[list(i) for i in np.array(pokemon[['Type 1','Type 2']])]

combo_lst=[]

for i in range(len(Type_lst)):
    if str(Type_lst[i][0]) == 'nan':
        combo_lst.append( str(Type_lst[i][1]) )
    elif str(Type_lst[i][1]) == 'nan':
        combo_lst.append( str(Type_lst[i][0]) )
    else:
        combo_lst.append( str(Type_lst[i][0]) + '-' + str(Type_lst[i][1]) )
            

pokemon['Combo Type'] = combo_lst

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448,Fire
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923,Fire-Flying
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171,Fire-Dragon
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333,Fire-Flying
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462,Water

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [10]:
# your code here

ratio_lst = [float(i) for i in np.array(pokemon[['A/D Ratio']])]                 
lst_0 = [i for i in ratio_lst if i != max(ratio_lst)]
lst_1 = [i for i in lst_0 if i!= max(lst_0)]
lst_2 = [i for i in lst_1 if i!= max(lst_1)]
lst_3 = [i for i in lst_2 if i!= max(lst_2)]

#Maximun_ratio = np.array(pokemon[['A/D Ratio']].max())

for i in range(len(pokemon['A/D Ratio'])):
    if np.array(pokemon.loc[i,'A/D Ratio']) == max(ratio_lst) :
        print("1:",pokemon.loc[i,'Name'])
    elif np.array(pokemon.loc[i,'A/D Ratio']) == max(lst_0) :
        print("2:",pokemon.loc[i,'Name']) 
    elif np.array(pokemon.loc[i,'A/D Ratio']) == max(lst_1) :
        print("3:",pokemon.loc[i,'Name'])     
    elif np.array(pokemon.loc[i,'A/D Ratio']) == max(lst_2) :
        print("4:",pokemon.loc[i,'Name']) 
    elif np.array(pokemon.loc[i,'A/D Ratio']) == max(lst_3) :
        print("5:",pokemon.loc[i,'Name']) 
#print( len(ratio_lst) ) 

#print( len(lst_0) )
#print( len(lst_1) ) 
#print( len(lst_2) )
#print( len(lst_3) )

3: Mega Beedrill
2: Carvanha
5: Sharpedo
5: DeoxysNormal Forme
1: DeoxysAttack Forme
4: Cranidos
5: AegislashBlade Forme

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [13]:
# your code here

combo_5lst = [[] for i in range(5)]

for i in range(len(pokemon['A/D Ratio'])):
    if np.array(pokemon.loc[i,'A/D Ratio']) == max(ratio_lst) :
        combo_5lst[0].append("1:")
        combo_5lst[0].append(pokemon.loc[i,'Name'] )
        combo_5lst[0].append( pokemon.loc[i,'Combo Type'] )
    elif np.array(pokemon.loc[i,'A/D Ratio']) == max(lst_0) :
        combo_5lst[1].append("2:")
        combo_5lst[1].append( pokemon.loc[i,'Name'] )
        combo_5lst[1].append( pokemon.loc[i,'Combo Type'] )
    elif np.array(pokemon.loc[i,'A/D Ratio']) == max(lst_1) :
        combo_5lst[2].append( "3:" )
        combo_5lst[2].append( pokemon.loc[i,'Name'] )
        combo_5lst[2].append(pokemon.loc[i,'Combo Type'])
    elif np.array(pokemon.loc[i,'A/D Ratio']) == max(lst_2) :
        combo_5lst[3].append("4:")
        combo_5lst[3].append( pokemon.loc[i,'Name'] )
        combo_5lst[3].append( pokemon.loc[i,'Combo Type'] )
    elif np.array(pokemon.loc[i,'A/D Ratio']) == max(lst_3) :
        combo_5lst[4].append( "5:" )
        combo_5lst[4].append( pokemon.loc[i,'Name'] )
        combo_5lst[4].append( pokemon.loc[i,'Combo Type'] )
        
combo_5lst

[['1:', 'DeoxysAttack Forme', 'Psychic'],
 ['2:', 'Carvanha', 'Water-Dark'],
 ['3:', 'Mega Beedrill', 'Bug-Poison'],
 ['4:', 'Cranidos', 'Rock'],
 ['5:',
  'Sharpedo',
  'Water-Dark',
  '5:',
  'DeoxysNormal Forme',
  'Psychic',
  '5:',
  'AegislashBlade Forme',
  'Steel-Ghost']]

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [ ]:
# your code here
colnames = ['#','Total', 'HP', 'Attack', 'Defense', 'Sp.Atk','Sp.Def','Speed','Generation','Legendary','A/D Ratio']

#lst_lst = [[8450, 'CollgCr', 2003, 7, 208500],
          # [9600, 'Veenker', 1976, 6, 181500],
          # [11250, 'CollgCr', 2001, 7, 223500],
           #[9550, 'Crawfor', 1915, 7, 140000],
        # [14260, 'NoRidge', 2000, 8, 250000],
          # [14115, 'Mitchel', 1993, 5, 143000],
        # [10084, 'Somerst', 2004, 8, 307000],
          # [10382, 'NWAmes', 1973, 7, 200000],
        #[6120, 'OldTown', 1931, 7, 129900],
          # [7420, 'BrkSide', 1939, 5, 118000]]
            
            
            
lst_lst =[[] for i in range(5)]            


df = pd.DataFrame(lst_lst, columns=colnames)