# Introduction to Pandas

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

#### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [2]:
# your code here
import numpy as np
import pandas as pd

#### 2. Create a Pandas Series containing the elements of the list below.

In [3]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [4]:
# your code here
serie = pd.Series(lst)

print(serie)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

#### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [5]:
# your code here

serie.index

print(serie[2])

74.4

#### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [6]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [7]:
# your code here
df = pd.DataFrame(b) # For some Reason I can not see all the dataframe.

df.head()

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9

#### 5. Rename the data frame columns based on the names in the list below.

In [8]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [9]:
# your code here

df = pd.DataFrame(b,columns=colnames)

df.head()

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9

#### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [10]:
# your code here
sub = df[['Score_1','Score_3','Score_5']]

sub.head()

   Score_1  Score_3  Score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9

#### 7. From the original data frame, calculate the average Score_3 value.

In [11]:
# your code here

Ave = df[['Score_3']].mean()

print(Ave)

Score_3    56.95
dtype: float64

#### 8. From the original data frame, calculate the maximum Score_4 value.

In [13]:
# your code here

Max = df[['Score_4']].max()

print(Max)

Score_4    88.8
dtype: float64

#### 9. From the original data frame, calculate the median Score 2 value.

In [15]:
# your code here

Median = df[['Score_2']].median()

print(Median)

Score_2    40.75
dtype: float64

#### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [16]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [46]:
# your code here

x=np.transpose(list(orders.values()))

df_orders = pd.DataFrame(x,columns=list(orders.keys()))

df_orders.head()

                          Description Revenue UnitPrice Quantity
0              LUNCH BAG APPLE DESIGN    1.65      1.65        1
1  SET OF 60 VINTAGE LEAF CAKE CASES     13.2      0.55       24
2         RIBBON REEL STRIPES DESIGN     1.65      1.65        1
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS   518.4      0.18     2880
4    PLAYING CARDS JUBILEE UNION JACK     2.5      1.25        2

#### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [54]:
# your code here

total_quantity_ordered = sum([float(quantity) for quantity in list(df_orders['Quantity'])])

revenue_generated = sum([float(revenue) for revenue in list(df_orders['Revenue'])])

print("The total quantity ordered is:",total_quantity_ordered)
print("The revenue generated from these orders is:",revenue_generated)

The total quantity ordered is: 2978.0
The revenue generated from these orders is: 637.0

#### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [56]:
# your code here

float_unitprice=[float(unitprice) for unitprice in list(df_orders['UnitPrice'])]

maximun_price=max(float_unitprice)
minimun_price=min(float_unitprice)


print("The price of the most expensive item ordered is:",maximun_price)
print("The price of the least expensive item ordered is:",minimun_price)
print("The diference between the most expensive and least expensive items ordered is:", maximun_price - minimun_price)

The price of the most expensive item ordered is: 11.95
The price of the least expensive item ordered is: 0.18
The diference between the most expensive and least expensive items ordered is: 11.77